## ASSIGNMENT 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
string = 'Hello'
lst = [1,"Good Day!",True,[1,2,3]]
flt = 9.70
tpl = (1,2,3)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [6]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [7]:
type(var1)

str

In [8]:
type(var2)

str

In [9]:
type(var3)

list

In [10]:
type(var4)

int

Q3.

'/' is the division operator in python. It returns a floating value

In [15]:
5/2

2.5

'%' is the modulus operator in python. It is used to return the remainder of the numbers.

In [13]:
5%2

1

'//' is the floor division operator in python. It returns the quotient of the numbers.

In [16]:
5//2

2

'\*\*' is the power operator. a**b means a to the power b.

In [17]:
5**2

25

Q4.

In [18]:
a = ["Aarushi",100,True,"successful",9.0,[1,2,3],(8,9,0),['Data Science','Python'],"",False]

In [20]:
for i in a:
    print(i,type(i))

Aarushi <class 'str'>
100 <class 'int'>
True <class 'bool'>
successful <class 'str'>
9.0 <class 'float'>
[1, 2, 3] <class 'list'>
(8, 9, 0) <class 'tuple'>
['Data Science', 'Python'] <class 'list'>
 <class 'str'>
False <class 'bool'>

Q5.

In [26]:
A = int(input("Enter a number A: "))
B = int(input("Enter a number B: "))

Enter a number A: 15
Enter a number B: 3

In [27]:
c = 0
while A%B == 0:
    A = A/B
    c += 1
if c>0:
    print(f"A is divisible by B {c} times")
else:
    print("A is not divisible by B")

A is divisible by B 1 times

Q6.

In [33]:
list1 = []
for i in range(25):
    list1.append(i)
    
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [34]:
for i in list1:
    if i%3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7.
1. Mutable data types: They are objects that can be modified or changed after creating them. Eg. list, dictionaries.
2. Immutable data types: They are objects that cannot be changed pr modified after its creation. Eg. tuples, strings

In [35]:
a = ["apple",2,"mango",4]

In [36]:
a[0] = "cherry"

In [37]:
a

['cherry', 2, 'mango', 4]

In [38]:
b = (1,2,3,4)

In [39]:
b[0] = 99

TypeError: 'tuple' object does not support item assignment