In [1]:
import pandas as pd

#### Question 1

In [17]:
s1 = pd.Series([4,8,15,16,23,42])

In [18]:
s1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

#### Question 2

In [5]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [6]:
pd.Series(l1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#### Question 3

In [12]:
df1 = pd.DataFrame({
    'Name': ['Alice','Bob','Claire'],
    'Age': [25,30,27],
    'Gender': ['Female','Male','Female']
})

In [14]:
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Question 4

##### A dataframe is a structure that contains two-dimensional data and its corresponding labels. It is constructed with rows and columns.
##### A dataframe can have multiple columns, whereas a Series can have only one column. dataframes can store more complex and heterogeneous data while a series stores simple and homogeneous data.
##### Example: In Question 1 and Question 3, we have s1 and df1. In s1, we have only one column consisting of numerics, while in df1 we have 3 columns- Name, Age, Gender. Name and Gender store object types and Age stores Integer types.

#### Question 5

##### Some Data manipulation functions in Pandas are:
1. **dtype**: It gives the datatype corresponding to all the columns in the df-dataframe
2. **df.columns**: It gives the name of all the columns present in the df-dataframe
3. **df[["column_name"]]**: It prints one or more columns along with the data corresponding to it in the form of a dataframe.

#### Question 6

###### Series, Dataframe and Panel, all are mutable

#### Question 7

In [19]:
s2 = pd.Series([1,2,3,4])
s3 = pd.Series([5,6,7,8])
s4 = pd.Series([9,10,11,12])

In [22]:
pd.DataFrame({
    'Col1':s2,
    'Col2':s3,
    'Col3':s4
})

   Col1  Col2  Col3
0     1     5     9
1     2     6    10
2     3     7    11
3     4     8    12